/* body {
  overflow-x: hidden;
} */

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
  position: relative;
  width: 100%;
  max-width: 100%;
}

img,
a img {
  -webkit-user-drag: none;
  user-select: none;
}

a,
a * {
  -webkit-user-drag: none;
}

img[draggable="false"] {
  pointer-events: auto; /* 클릭은 여전히 가능 */
}
